<a href="https://colab.research.google.com/github/SuleymanBat/ITERABLES-vs-ITERATORS-and-OPPS-in-PYTHON/blob/main/python_workshop3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q 1: GIVEN TWO INTEGER VALUES, RETURN THEIR SUM. IF THE TWO VALUES ARE THE SAME, THEN RETURN DOUBLE THEIR SUM.

In [ ]:
# First method 
first = int(input("ENTER FIRST NUMBER : "))
second = int(input("ENTER SECOND NUMBER : "))

if first == second:
    double = (first + second) * 2
    print(double)
else:
    tot = first + second
    print(tot)

20

In [ ]:
#Second method
a = 10
b = 15
sum = a + b

if a == b :
    sum = sum * 2

print(sum)

25

In [ ]:
a = 10
b = 10
sum = a + b

if a == b :
    sum = sum * 2

print(sum)

40

Q 2: We have two monkeys, a and b, and the parameters a_smile and b_smile indicate if each is smiling. We are in trouble if they are both smiling or if neither of them is smiling. Return True if we are in trouble.

monkey_trouble(True,True)   ....True

monkey_trouble(False,False)  ...True

monkey_trouble(True, False)   ..False

In [ ]:
a_smile = True
b_smile = False

trouble =(not a_smile or b_smile) and (a_smile or not b_smile)

print(trouble)

False

In [ ]:
a_smile = True
b_smile = True

trouble =(not a_smile or b_smile) and (a_smile or not b_smile)

print(trouble)

True

In [ ]:
a_smile = False
b_smile = False

trouble =(not a_smile or b_smile) and (a_smile or not b_smile)

print(trouble)

True

Q 3:We have a loud talking parrot. The "hour" parameter is the current hour time in the range 0.23 We are in trouble if the parrot is talking and the hour is before 7 or after 20. Return True if we are in trouble.
parrot_trouble(True, 6) ...True

parrot_trouble(True, 7) ...False

parrot_trouble(False, 6) ...False

In [ ]:
parrot_talking = True
hour = 17

troble = parrot_talking and (hour < 7 or hour > 20)

print(troble)

False

In [ ]:
parrot_talking = True
hour = 6

troble = parrot_talking and (hour < 7 or hour > 20)

print(troble)

True

Q 4: Given two integers, a and b return True if one of them is 10 or if their sum is 10

makes10(9,10)  ...True

makes(9,9)    ....FAlse

makes(1,9)     ...true

In [ ]:
a = 4
b = 6
sum = a + b
answer = a == 10 or b == 10 or sum == 10
print(answer)

True

In [ ]:
a = 4
b = 9
sum = a + b
answer = a == 10 or b == 10 or sum == 10
print(answer)

False

Q 5: Given an integer n, return True if it is within 10 of 100 or 200. Note: abs(num) computes the absolute value of a number.

near_hundred(93)  ...True

near_hundred(90)  ...True

near_hundred(89)  ...False

In [ ]:
#first method
n = 210
answe = 90 <= n <= 110 or 190 <= n <= 210
print(answe)

True

In [ ]:
n = 89
answe = 90 <= n <= 110 or 190 <= n <= 210
print(answe)

False

In [ ]:
#second method
inp1 = int(input("Enter a number: "))
num = abs(100 - n)
num1 = abs(200 - n)
answer = num <= inp1 or num1 <= inp1
print(answer)

True

Q 6: Given two integer values, return True if one is negative and one is positive. Except if the parameter "negative" is True, then return True only if both are negative.

pos_negativ(1, -1, False)  ..True

pos_negativ(-1, 1, False)  ..True

pos_negativ(-4, -5, True)  ..True

In [ ]:
x = -5
y = 11
negative = True

ansver = x < 0 and y > 0 or x > 0 and y < 0

if negative:
    answer = x < 0 and y < 0
    
print(answer)

False

Define your own factorial function named factor using def.

In [ ]:
def factor(a):

    result = 1
    for i in range(a):
        result *= (i + 1)
    return print(result)

In [ ]:
factor(11)

39916800

"datetime" function is commonly used when working with date and time types.

In [ ]:
import datetime
print(datetime.date.today())
print(datetime.datetime.now())

2022-03-17
2022-03-17 12:52:05.863068

string function is used for common string operations.

In [ ]:
import string as sgg
print(sgg.punctuation)
print(sgg.digits)

!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~
0123456789

random is a module that contains functions that allow us to select randomly from various data types.

In [ ]:
from random import choice
stads = ['Uppsala','Göteborg','Halmstad','Helsinborg','Gävle']
print(choice(stads))

Helsinborg

In [ ]:
from random import choice
names = ['CANIM OGLUM FERIT EFE','CANIM HANIMIM NESE','TATLI KIZIM MELIHA EMINE','TATLI KIZIM SENA']
print(choice(names))

CANIM HANIMIM NESE